<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App - Login</title>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
</head>
<style>
    .login-button {
        font-size: 16px;
    }
    .signup-button {
        font-size: 12px;
    }
</style>
<body>
    <div>
        <h2 class="form-h2">Log In</h2>
    </div>
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input class="login-button" type="submit" value="Login">
            <div>
                <a class="signup-button" href="{% url 'signup' %}">or Sign Up</a>
            </div>
        </form>
    </div>
 <script src="{% static 'login_signup.js' %}"></script>
</body>
</html>