{% extends 'base.html' %}
{% block title %}
Chat App - Chat Room
{% endblock title %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="room-title">
            <h3 class="title">Room: <a style="border: 1px; border-style: solid; border-radius: 5px; background-color: white; padding: 5px; color: #212121">{{ room_name }}</a></h3>
            <a class="leaveButton" href="{% url 'index' %}" style="float: right;">Leave Room</a>
        </div>
        <div id="chat-log">
            {% for chat in chats.all %}
                {% if chat.user.id == request.user.id %}
                    <div class="message sender" style="color:white;">
                        {{ chat.user.username }}: {{ chat.message }}
                    </div>
                {% else %}
                    <div class="message receiver" style="color: aquamarine;">
                        {{ chat.user.username }}: {{ chat.message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="chat-input-container">
            <input class="chat-text-input" id="chat-message-input" type="text" size="100" placeholder="Type your message here"><br><br>
            <input class="chat-button" id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    {{ room_name|json_script:"room_name" }}
    {{ request.user.id|json_script:"user_id" }}
    {{ request.user.username|json_script:"user_name" }}
    <script src="{% static 'room.js' %}"></script>
{% endblock content %}
